:root {
  --dark: #031e38;
  --light: #fff;
  --navlink-color: #868a84;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark);
    color: var(--light);
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: var(--navlink-color);
    font-weight: bold;
    text-decoration: none;
  }

  .image {
  width: 500px;
  height: 500px;
  padding: 20px;
  border: 1px solid black;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--dark);
    color: var(--light);
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }
  